.card {
  display: flex;

  padding: var(--size-base);

  max-width: 400px;

  border: 1px solid var(--middle-green);
  border-radius: 10px;
}

.card--important {
  background-color: var(--superlight-green);
  border: 1px solid var(--dark-green);
}

.card__aside {
  position: relative;
}

.card__img {
  width: 10rem;
  height: 10rem;

  margin-right: var(--size-base);
}

.card__tag {
  position: absolute;
  top: 0;
  left: 0;

  padding: var(--size-tiny);

  background-color: var(--light-green);

  font-size: var(--size-small);
  font-weight: 700;
  color: var(--middle-green);

  border-radius: 10px;
}

.card__tag--important {
  background-color: var(--superlight-grey);
  color: var(--dark-grey);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  margin-bottom: var(--size-tiny);

  font-weight: 700;
  font-size: var(--size-base);
}

.card__subtitle {
  margin-bottom: var(--size-small);

  font-size: var(--size-small);
  color: var(--light-grey);
}

.card__description {
  font-size: var(--size-);
  color: var(--dark-grey);
}

.card__link {
  align-self: flex-end;
  justify-self: flex-end;

  color: var(--middle-green);

  margin-top: auto;
}
