.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--size-mini) var(--size-large) var(--size-medium);

  border-top: 1px solid var(--dark-grey);

  color: var(--middle-green);
}

.footer__menu {
  display: flex;
  align-items: center;

  font-size: var(--font-size-small);
}

.footer__item {
  &:not(:last-child) {
    margin-right: var(--size-mini);
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
}
