body {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.125;
  font-family: "Montserrat", sans-serif;
}

main {
  padding-right: var(--font-size-huge);
  padding-left: var(--font-size-huge);
}

p {
  line-height: 1.5;
}

a {
  &:hover {
    font-weight: 700;
  }
}

&:visited,
&:active {
  color: var(--middle-green);
}
